.red_bg{background-image:-webkit-linear-gradient(top, #69899B 0%, #69899B 100%);background-image:-moz-linear-gradient(top, #69899B 0%, #69899B 100%);background-image:-o-linear-gradient(top, #69899B 0%, #69899B 100%);background-image:-ms-linear-gradient(top, #69899B 0%, #69899B 100%);background-image:linear-gradient(to bottom, #69899B 0%, #69899B 100%);}.red_bg .x-column-header-over{background-image:-webkit-linear-gradient(top, #69899B 0%, #69899B 100%);background-image:-moz-linear-gradient(top, #69899B 0%, #69899B 100%);background-image:-o-linear-gradient(top, #69899B 0%, #69899B 100%);background-image:-ms-linear-gradient(top, #69899B 0%, #69899B 100%);background-image:linear-gradient(to bottom, #69899B 0%, #69899B 100%)}.x-mask{background-color:rgba(250, 250, 250, 0.56) !important}#inicio-contentMenu > div{background:transparent;}#inicio-contentMenu > div > div{background:transparent;}#inicio-contentMenu > div > div > div{background-color:rgba(0,67,118,0.3) !important;}#inicio-contentMenu > div > div > div > div{background:transparent}.x-window-default{border-color:#69899B;-webkit-box-shadow:none;box-shadow:none;background-image:-webkit-linear-gradient(top, #69899B 0%, #69899B 100%);background-image:-moz-linear-gradient(top, #69899B 0%, #69899B 100%);background-image:-o-linear-gradient(top, #69899B 0%, #69899B 100%);background-image:-ms-linear-gradient(top, #69899B 0%, #69899B 100%);background-image:linear-gradient(to bottom, #69899B 0%, #69899B 100%);-ms-filter:"progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#69899B, endColorstr=#69899B)";background-color:#69899B;}.x-window-default > div{-ms-filter:"progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#69899B, endColorstr=#69899B)" !important;-webkit-box-shadow:none;box-shadow:none;background-color:#69899B;}.x-window-default > div > div > div > div.x-title > div{color:#fff;font-size:14px}.x-window-default > div > div > div > div.x-tool{color:#fff;margin-left:-10px !important;font-size:15px;}.x-window-default > div > div > div > div.x-tool:before{content:''}.x-window-default > div > div > div > div.x-tool img{opacity:0;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";filter:alpha(opacity=0);display:none}.x-window-default > div.x-frame-tl{-ms-filter:"progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#69899B, endColorstr=#69899B)" !important;-webkit-box-shadow:none;box-shadow:none;background-color:#69899B}.x-window-default > div.x-window-header{-ms-filter:"progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#69899B, endColorstr=#69899B)" !important;-webkit-box-shadow:none;box-shadow:none;background-color:#69899B;}.x-window-default > div.x-window-header > div.x-frame-tl{background-image:none !important;-ms-filter:"progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#69899B, endColorstr=#69899B)" !important;}.x-window-default > div.x-window-header > div.x-frame-tl > div.x-frame-tl{background-image:none !important;-ms-filter:"progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#69899B, endColorstr=#69899B)" !important;}.x-window-default > div.x-window-header > div.x-frame-tl > div.x-frame-tl > div.x-frame-tl{background-image:none !important;-ms-filter:"progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#69899B, endColorstr=#69899B)" !important}.x-window-default > div.x-window-header > div.x-frame-ml{-ms-filter:"progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#69899B, endColorstr=#69899B)" !important;}.x-window-default > div.x-window-header > div.x-frame-ml > div{-ms-filter:"progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#69899B, endColorstr=#69899B)" !important;}.x-window-default > div.x-window-header > div.x-frame-ml > div > div{-ms-filter:"progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#69899B, endColorstr=#69899B)" !important;}.x-window-default > div.x-window-header > div.x-frame-ml > div > div > div{-ms-filter:"progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#69899B, endColorstr=#69899B)" !important;}.x-window-default > div.x-window-header > div.x-frame-ml > div > div > div > div{-ms-filter:"progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#69899B, endColorstr=#69899B)" !important;}.x-window-default > div.x-window-header > div.x-frame-ml > div > div > div > div > div.x-title > div{color:#fff;font-size:14px}.x-window-default > div.x-window-header > div.x-frame-ml > div > div > div > div > div.x-tool{color:#fff;margin-left:-10px !important;font-size:15px;}.x-window-default > div.x-window-header > div.x-frame-ml > div > div > div > div > div.x-tool:before{content:''}.x-window-default > div.x-window-header > div.x-frame-ml > div > div > div > div > div.x-tool img{opacity:0;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";filter:alpha(opacity=0);display:none}.x-window-default > div.x-window-header > div.x-frame-bl{-ms-filter:"progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#69899B, endColorstr=#69899B)" !important;}.x-window-default > div.x-window-header > div.x-frame-bl > div{-ms-filter:"progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#69899B, endColorstr=#69899B)" !important}.x-window-header-default-top-tc,.x-window-header-default-top-tr,.x-window-default-mr,.x-window-default-br,.x-window-default-bc{-ms-filter:"progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#69899B, endColorstr=#69899B)" !important}.x-window-default-mc{background-color:#69899B !important}
.x-toolbar-default{
    background-color:#000;
    background-image:-webkit-linear-gradient(top, #e3eaf9 0%, #e3eaf9 100%);
    background-image:-moz-linear-gradient(top, #e3eaf9 0%, #e3eaf9 100%);
    background-image:-o-linear-gradient(top, #e3eaf9 0%, #e3eaf9 100%);
    background-image:-ms-linear-gradient(top, #e3eaf9 0%, #e3eaf9 100%);

    background-image:linear-gradient(top bottom, #e3eaf9 0%, #e3eaf9 100%)}

.x-toolbar-pag{
    background-color:#fff;
    background-image:-webkit-linear-gradient(top, #fff 0%, #fff 100%);
    background-image:-moz-linear-gradient(top, #fff 0%, #fff 100%);
    background-image:-o-linear-gradient(top, #fff 0%, #fff 100%);
    background-image:-ms-linear-gradient(top, #fff 0%, #fff 100%);
    border-color: #fff;
    background-image:linear-gradient(top bottom, #fff 0%, #fff 100%)}

.x-button-opt{
    background-color:#fff;
    background-image:-webkit-linear-gradient(top, #fff 0%, #fff 100%);
    background-image:-moz-linear-gradient(top, #fff 0%, #fff 100%);
    background-image:-o-linear-gradient(top, #fff 0%, #fff 100%);
    background-image:-ms-linear-gradient(top, #fff 0%, #fff 100%);
    border-color: #fff;
    background-image:linear-gradient(top bottom, #fff 0%, #fff 100%)}



.x-column-header{background-image:-webkit-linear-gradient(top, #69899B 0%, #69899B 100%);background-image:-moz-linear-gradient(top, #69899B 0%, #69899B 100%);background-image:-o-linear-gradient(top, #69899B 0%, #69899B 100%);background-image:-ms-linear-gradient(top, #69899B 0%, #69899B 100%);background-image:linear-gradient(to bottom, #69899B 0%, #69899B 100%);-ms-filter:"progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#69899B, endColorstr=#69899B)";}.x-column-header .x-column-header-over{background-image:-webkit-linear-gradient(top, #69899B 0%, #69899B 100%);background-image:-moz-linear-gradient(top, #69899B 0%, #69899B 100%);background-image:-o-linear-gradient(top, #69899B 0%, #69899B 100%);background-image:-ms-linear-gradient(top, #69899B 0%, #69899B 100%);background-image:linear-gradient(to bottom, #69899B 0%, #69899B 100%);-ms-filter:"progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#69899B, endColorstr=#69899B)"}.x-grid-row-summary > td.x-grid-cell{background-image:-webkit-linear-gradient(top, #bfbebd 0%, #b5b4b1 100%) !important;background-image:-moz-linear-gradient(top, #bfbebd 0%, #b5b4b1 100%) !important;background-image:-o-linear-gradient(top, #bfbebd 0%, #b5b4b1 100%) !important;background-image:-ms-linear-gradient(top, #bfbebd 0%, #b5b4b1 100%) !important;background-image:linear-gradient(to bottom, #bfbebd 0%, #b5b4b1 100%) !important;border-right:1px solid #6e6e6e !important;color:#000 !important}.x-column-header-inner-empty{background:transparent}.x-column-header-inner{color:#fff}.column_header_double > div{text-align:center !important;}.column_header_double > div > span{margin-right:0 !important;white-space:normal !important}.gk-toolbar-footer{background-color:#333;background-image:none;border-color:#bcb0b0;border-style:solid;border-width:0;padding:4px 0 4px 6px;}.gk-toolbar-footer > div > div > a.x-toolbar-item{margin:0 6px 0 0}.gk-panel{background-color:#fff;border-left:2px solid #696969;}.gk-panel header{background-color:#696969;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;display:-webkit-box;display:-moz-box;display:-webkit-flex;display:-ms-flexbox;display:box;display:flex;height:45px;position:relative;}.gk-panel header .cH{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;display:-webkit-box;display:-moz-box;display:-webkit-flex;display:-ms-flexbox;display:box;display:flex;margin:auto 0;width:100%;}.gk-panel header .cH .logo{height:34px;margin-left:5px;width:34px;}.gk-panel header .cH .logo span{color:#fff;font-size:32px}.gk-panel header .cH .cT{color:#fff;font-family:'Open Sans',sans-serif;height:34px;}.gk-panel header .cH .cT span{display:block}.gk-panel header .cH .cT .title{font-size:14px;font-weight:bold;margin-left:5px}.gk-panel header .cH .cT .sub-title{font-size:9px;margin-left:5px}.gk-panel section{margin:5px 10px}.gk-mask{text-align:center;}.gk-mask .lbl-message{font-size:13px;margin:2px}.gk-mask .lbl-timer{font-size:13px;font-weight:bold;margin:2px}.ux-notification-icon-information{background-image:url("../images/notification/icon16_info.png")}.ux-notification-icon-error{background-image:url("../images/notification/icon16_error.png")}.ux-notification-window .x-window-body{text-align:center;padding:15px 5px 15px 5px}.ux-notification-light .x-window-header{background-color:transparent}.ux-notification-light .x-window-body{text-align:center;padding:0;background-color:transparent;border:0 solid #fff}body .ux-notification-light{background-image:url("../images/notification/fader.png")}.gk-grid-color-status-red{background-color:#f00 !important;color:#fff !important}.gk-grid-color-status-white{background-color:#fff !important;color:#000 !important}.gk-grid-color-status-green01{background-color:#cce5cc !important;color:#000 !important}.gk-font-10{font-size:10px}.gk-item-menu-1{background-image:url("../images/menu/item-1.png");height:16px;width:16px}.gk-item-menu-2{background-image:url("../images/menu/item-2.png");height:16px;width:16px}.gk-item-menu-3{background-image:url("../images/menu/item-3.png");height:16px;width:16px}

.x-column-header-text {
    white-space: nowrap;
    background-repeat: no-repeat;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    font-family: sans-serif;
}

.x-grid-with-col-lines .x-grid-cell {
    border-right: 1px solid #69899B;
    border-bottom: 1px solid #69899B;
}

.x-grid-item-selected {
    color: black;
    background-color: #7FCEFF !important;
}

.rowA .x-grid-cell{
    background-color: #d6ecfc !important;
    color:black;
}
.rowB .x-grid-item-alt{

}
.rowC .x-grid-cell{
    background-color: #CCCCFF !important;
    color:black;
}
.x-grid-item{
    /* background-color: #E6F4FF !important; */
    color:black;
}

.x-grid-item-alt{
    background-color: #E6F4FF;
    color:black;
}

.x-grid-item-over{
    background-color: #B2E1FF !important;
    color:black;
}

.x-btn-save{ 
    background:#63DC53 !important;   
}
.x-btn-save-over{
    background:#4CA131 !important;    
}
.x-btn-sent{ 
    background:#02507A !important;   
}
.x-btn-sent-over{
    background:#3D94C1 !important;    
}
/*.selection-disabled .x-selmodel-column {
    visibility: hidden;
}*/
/*.x-tip {
    width: auto !important;
}

.x-tip-body {
    width: auto !important;
}

.x-tip-body span {
    width: auto !important;
}*/

.cls-facsimil-label{
    font-weight: bold; font-size: 11px;
}

.cls-facsimil-label-top{
    font-weight: bold; font-size: 11px;
}

.cls-facsimil-label-top-special{
    font-weight: bold; font-size: 11px;
}

.cls-facsimil-label-top-special-sp > span{
    padding: 0;
    margin: 0;
}

