
@import 'nib'

.prx-icon-search
    background-image url(../img/botones/search.png)

.prx-icon-filter
    background-image url(../img/botones/filter.png)

.prx-icon-excel
    background-image url(../img/botones/excel.png)

.prx-icon-clear
    background-image url(../img/botones/clear.png)

.prx-icon-add
    background-image url(../img/botones/add.png)

.prx-icon-back
    background-image url(../img/botones/back.png)